body
{ margin: 0%;
    color: rgb(19, 10, 36);
font-family: monospace;
background-color: beige;
}
.nav{background-color: rgb(63, 145, 125);
width: 100%;
padding:0%;
border-radius: 3px;
margin: 0%;}
.education{background-color: rgb(63, 143, 135);
color:black;
width:50%;
}
.Experience{background-color: rgb(63, 92, 97);
color:black;
width:50%;
}
.Skills{background-color: rgb(63, 125, 119);
color:black;
width:50%;}
.menu{background-color:lightblue;
color: black;
width:20%;}


